# Mac stuff:
.DS_Store

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache

# hide folder containing legally obtained ROMs
test_roms/

# dont commit logs
logs.txt